<div class="Catalogue-Container">
    <div class="catalog">
        <span> Ozcan <span [translate]="'Catalogue'"></span></span>
        <a href="http://www.ozcanaydinlatma.com.tr/katalog/2019-2020-8.html" target="_blank">
            <img src="./../assets/images/ozcan.png">
        </a>
    </div>
    <div class="catalog">
        <span> Lucea Exclusive <span [translate]="'Catalogue'"></span></span>
        <a href="./../assets/pdfCatalogues/LUCEA2020EXCLUSIVECATALOGUE.pdf" target="_blank">
            <img src="./../assets/images/lucea.png">
        </a>
    </div>
    <div class="catalog">
        <span> Lucea Style <span [translate]="'Catalogue'"></span></span>
        <a href="./../assets/pdfCatalogues/LUCEA2020STYLECATALOGUE.pdf" target="_blank">
            <img src="./../assets/images/lucea.png">
        </a>
    </div>
</div>