<div class="Catalogue-Container">
    <div class="catalog">
        <span> Eglo <span [translate]="'Catalogue'"></span></span>
        <a href="https://eglo.cld.bz/interior" target="_blank">
            <img src="./../assets/images/eglo.png">
        </a>
    </div>
    <div class="catalog">
        <span> Ozcan <span [translate]="'Catalogue'"></span></span>
        <a href="http://www.ozcanaydinlatma.com.tr/katalog/2019-2020-8.html">
            <img src="./../assets/images/ozcan.png">
        </a>
    </div>
    <div class="catalog">
        <span> Stars of Light <span [translate]="'Catalogue'"></span></span>
        <a href="">
            <img src="./../assets/images/eglo.png">
        </a>
    </div>
    <div class="catalog">
        <span> Casaluce Exclusive <span [translate]="'Catalogue'"></span></span>
        <a href="">
            <img src="./../assets/images/lucea.png">
        </a>
    </div>
    <div class="catalog">
        <span> Casaluce Style <span [translate]="'Catalogue'"></span></span>
        <a href="">
            <img src="./../assets/images/eglo.png">
        </a>
    </div>
    <div class="catalog">
        <span> Outdoor <span [translate]="'Catalogue'"></span></span>
        <a href="">
            <img src="./../assets/images/eglo.png">
        </a>
    </div>
    <div class="catalog">
        <span> Vintage <span [translate]="'Catalogue'"></span></span>
        <a href="">
            <img src="./../assets/images/eglo.png">
        </a>
    </div>
</div>