
<div class="header-style">
    <div class="language">
        <span (click)="changeLanguage('al')">
            <img src="./assets/images/al.png" alt="">
        </span>
        <span (click)="changeLanguage('mk')">
            <img src="./assets/images/mk.png" alt="">
        </span>
        <span (click)="changeLanguage('en')">
            <img src="./assets/images/en.png" alt="">
        </span>
    </div>
    <div class="navigation">
        <div class="logo">
            <a [routerLink]="['/home']" (click)="SelectedMenu = 1">
                <img src="./assets/images/logo.jpg">
            </a>
        </div>
        <div class="links">
            <a *ngFor="let item of MenuList" [routerLink]="item.Name" (click)="SelectedMenu = item.ID"
                [ngClass]="{selectedMenu: SelectedMenu === item.ID}">
                <i [class]="item.Icon"></i>
                <span class="ml-3" [translate]="item.TranslatedName"></span>
            </a>
        </div>
        <!-- <div class="hamburger">
        <i class="fa fa-bars fa-2x"></i>
    </div> -->
    </div>
</div>

<app-loader></app-loader>
<router-outlet></router-outlet>

<footer>
    <div class="menuAndContacts">
        <div class="openingHoursAndLinks">
            <div class="openingHours pl-3 pt-3">
                <span [translate]="'OpeningHours'"></span>: <br>
                <span [translate]="'FromMonToSat'"></span>
            </div>
            <div class="links">
                <a class="fb" href="https://www.facebook.com/megalights2" target="_blank">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a class="in" href="https://www.instagram.com/megalights1" target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a class="youtube" href="https://www.youtube.com/watch?v=0NuYMJIYttU" target="_blank">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
        </div>

        <div class="menu">
            <a *ngFor="let item of MenuList" [routerLink]="item.Name" (click)="SelectedMenu = item.ID"
                [ngClass]="{selectedMenu: SelectedMenu === item.ID}">
                <span [translate]="item.TranslatedName"></span>
            </a>
        </div>

        <div class="contacts">
            <div>
                <span translate="AddressData"></span>
            </div>
            <div>
                <a href="mailto:mega_lights@hotmail.com">mega_lights@hotmail.com</a>
            </div>
            <div class="phoneNumbers">
                <span translate="Tel"></span>:
                <span>044 521 626</span> <br>
                <span translate="Mob"></span>:
                <span>+ 389 71 665 006</span> <br>
                <span translate="Mob"></span>:
                <span>+ 389 70 729 536</span> <br>
            </div>
        </div>
    </div>

    <div class="text-center text-white">
        <span>Copyright &copy; {{Year}} <b>Megalight</b>. All rights reserved.</span>
    </div>
</footer>

