<app-loader></app-loader>

<!-- NAVIGATION -->
<div class="header-style">
    <div class="language">
        <i class="fa fa-globe"></i>
        <select class="form-control"
                (change)="changeLanguage($event.target.value)">
            <option *ngFor="let item of languages"
                    [selected]="item.isActive"
                    [value]="item | json">{{item.value}}
            </option>
        </select>
    </div>

    <div class="navigation">
        <div class="logo">
            <a [routerLink]="['/home']">
                <img src="./assets/images/logo.jpg">
            </a>
        </div>
        <div></div>
        <div class="links">
            <a *ngFor="let item of menuList"
               [routerLink]="item.path"
               routerLinkActive="selectedMenu"
               (click)="scrollToTop()">
                <i [class]="item.icon"></i>
                <span class="ml-3"
                      [translate]="item.name"></span>
            </a>
        </div>
    </div>
</div>

<!-- NAVIGATION MOBILE -->
<div class="header-styleMobile">
    <div class="language">
        <i class="fa fa-globe"></i>
        <select class="form-control"
                (change)="changeLanguage($event.target.value)">
            <option *ngFor="let item of languages"
                    [selected]="item.isActive"
                    [value]="item | json">{{item.value}}
            </option>
        </select>
    </div>
    <div class="navigation">
        <div class="logo">
            <a [routerLink]="['/home']">
                <img src="./assets/images/logo.jpg">
            </a>
        </div>
        <div class="hamburger"
             (click)="toggleMenu()">
            <i class="fa fa-bars fa-2x"></i>
        </div>
    </div>

    <div class="links"
         [@slideInOut]="menuOpened">
        <a *ngFor="let item of menuList"
           [routerLink]="item.path"
           routerLinkActive="selectedMenu"
           (click)="menuOpened = 'out'; scrollToTop()">
            <i [class]="item.icon"></i>
            <span class="ml-3"
                  [translate]="item.name"></span>
            <hr>
        </a>
    </div>
</div>

<button [ngClass]="{'show-scroll': showScroll}"
        (click)="scrollToTop()"
        class="btn scroll-to-top">
    <i class="fas fa-arrow-up fa-2x"></i>
</button>

<router-outlet></router-outlet>

<!-- FOOTER -->
<footer>
    <div class="menuAndContacts">
        <div class="openingHoursAndLinks">
            <div class="openingHours pl-3 pr-3 pt-3">
                <span [translate]="'OpeningHours'"></span>: <br>
                <span [translate]="'FromMonToSat'"></span>
            </div>
            <div class="links pl-5 pr-5 pt-4">
                <a href="https://www.facebook.com/megalight2015"
                   target="_blank">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <a href="https://www.instagram.com/megalights1"
                   target="_blank">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.youtube.com/watch?v=Ira-Uzbv82M"
                   target="_blank">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
            </div>
        </div>

        <div class="menu">
            <a *ngFor="let item of menuList"
               [routerLink]="item.path"
               (click)="scrollToTop()">
                <span [translate]="item.name"></span>
            </a>
        </div>

        <div class="contacts">
            <div>
                <span translate="AddressData"></span>
            </div>
            <div>
                <a href="mailto:mega_lights@hotmail.com">mega_lights@hotmail.com</a>
            </div>
            <div class="phoneNumbers">
                <span translate="Tel"></span>:
                <span>044 521 626</span> <br>
                <span translate="Mob"></span>:
                <span>+389 71 665 006</span> <br>
                <span translate="Mob"></span>:
                <span>+389 70 729 536</span> <br>
            </div>
        </div>
    </div>

    <div class="text-center text-white">
        <span> <b>Megalight</b> 2015 - {{year}}. All rights reserved.</span>
    </div>
</footer>