<div class="header-style">
    <div class="language">
        <span (click)="changeLanguage('al')">
            <img src="./assets/images/al.png" alt="">
        </span>
        <span (click)="changeLanguage('mk')">
            <img src="./assets/images/mk.png" alt="">
        </span>
        <span (click)="changeLanguage('en')">
            <img src="./assets/images/en.png" alt="">
        </span>
    </div>
    <div class="navigation">
        <div class="logo">
            <a [routerLink]="['/home']" (click)="SelectedMenu = 1">
                <img src="./assets/images/logo.jpg">
            </a>
        </div>
        <div class="links">
            <a *ngFor="let item of MenuList" [routerLink]="item.Name" (click)="SelectedMenu = item.ID"
                [ngClass]="{selectedMenu: SelectedMenu === item.ID}">
                <i [class]="item.Icon"></i>
                <span class="ml-3" [translate]="item.TranslatedName"></span>
            </a>
        </div>
        <!-- <div class="hamburger">
        <i class="fa fa-bars fa-2x"></i>
    </div> -->
    </div>
</div>
<router-outlet></router-outlet>