* {
  font-family: Arial, Helvetica, sans-serif;
}

// COLORS
$firstColor: #83c15b;

.text-bold {
  font-weight: bold;
}

// LAYOUT
.header-style {
  .language {
    text-align: right;
    margin-right: 100px;

    span {
      margin: 5px;
      cursor: pointer;
    }
    img {
      border-radius: 5px;
    }
  }

  .navigation {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;

    .logo {
      img {
        width: 200px;
      }
    }

    .links {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      width: 100%;

      a {
        color: $firstColor;
        text-decoration: none;
        font-size: 20px;
        padding: 14px 0;
        width: 100%;
        text-align: center;
      }

      a:hover {
        color: #fff;
        background: $firstColor;
        transition: all 0.5s;
        width: 100%;
        text-align: center;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
      }

      .selectedMenu {
        color: #fff;
        background: $firstColor;
        transition: all 0.5s;
        width: 100%;
        text-align: center;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
      }
    }
  }
}

// FOOTER
footer {
  background: $firstColor;
  height: 200px;

  .menuAndContacts {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    height: 88%;

    .openingHoursAndLinks {
      justify-self: center;

      .openingHours {
        color: #fff;
        font-size: 18px;
      }

      .links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;
        align-items: end;
        padding: 40px 80px 10px;

        a {
          background: rgba($color: #000, $alpha: 0.5);
          border-radius: 50px;
          color: #fff;
        }
        .fb {
          padding: 10px 18px;
        }

        .in {
          padding: 10px 14px;
        }

        .youtube {
          padding: 10px;
        }
      }
    }

    .menu {
      display: grid;
      grid-gap: 10px;
      justify-self: center;
      align-items: center;
      margin: 25px 0;

      a {
        color: #fff;
        font-size: 20px;
      }
    }
    .contacts {
      display: grid;
      align-items: center;
      margin: 25px 0;
      color: #fff;
      font-size: 20px;

      a {
        color: #fff;
      }
    }
    .phoneNumbers {
      font-size: 14px;
    }
  }
}

// HOME CONTAINER
.Home-Container {
  .swiper {
    img {
      width: 100%;
    }
  }
  .textAndVideo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: solid 1px $firstColor;
    border-radius: 12px;
    background: rgba($color: #83c15b, $alpha: 0.1);
    padding: 50px;
    margin: 100px;
    grid-gap: 100px;

    span {
      font-size: 20px;
    }

    iframe {
      width: 100%;
      height: 300px;
    }
  }
}

// CONTACT CONTAINER
.Contact-Container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: solid 1px $firstColor;
  border-radius: 12px;
  background: rgba($color: #83c15b, $alpha: 0.1);
  padding: 50px;
  margin: 100px;
  grid-gap: 100px;

  .map {
    border: solid 1px #888;
  }

  agm-map {
    height: 400px;
  }
}

// MEDIA QUERIES
@media (min-width: 320px) and (max-width: 1023px) {
  .header-style {
    display: none;
  }

  .header-styleMobile {
    margin: 0 !important;

    .language {
      text-align: right;
      margin: 0 !important;
      padding-right: 20px;

      span {
        margin: 5px;
        cursor: pointer;
      }
      img {
        border-radius: 5px;
      }
    }

    .navigation {
      display: grid;
      grid-template-columns: 1fr 1fr !important;
      justify-items: center;
      align-items: center;
      margin-bottom: 20px;

      .logo {
        img {
          width: 150px;
        }
      }

      .hamburger {
        display: block !important;
        justify-self: end;
        margin-right: 20px;

        i {
          color: $firstColor;
        }
      }
    }
    .links {
      display: grid;
      padding-left: 30px;

      a {
        display: grid;
        grid-template-columns: 25px auto;
        align-items: center;
        justify-items: center;
        color: $firstColor !important;
        text-decoration: none;
        font-size: 16px !important;

        span {
          justify-self: start !important;
        }

        hr {
          width: 100%;
          grid-column: 1 / span 2;
        }
      }
    }
  }

  footer {
    .menu,
    .contacts {
      display: none !important;
    }

    .menuAndContacts {
      grid-template-columns: 1fr !important;

      .openingHours {
        padding-left: 0 !important;
      }
    }
  }

  .Home-Container {
    .textAndVideo {
      grid-template-columns: 1fr !important;
      margin: 20px 10px;
      padding: 10px !important;
    }
  }
}

@media (min-width: 1024px) {
  .header-styleMobile {
    display: none !important;
  }

  .navigation {
    margin-bottom: 20px;
  }
}
